BREVO_API_KEY=
STRIPE_SECRET=
NEXT_PUBLIC_CAL_URL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_API_URL=
AUTH_SECRET=
NEXTAUTH_URL=
DATABASE_URL=postgresql://postgres:Bt2LtWkL9pubqB6T@db.jimzbqneaplomwhkteqi.supabase.co:6543/postgres?pgbouncer=true&sslmode=require
